@import "tailwindcss";

@layer base {
  body {
    background-color: #0F172A;
    color: #E2E8F0;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    background-color: #F59E0B;
    color: #020617;
  }
}
